* {
  margin: 0;
}

body {
  font-family: Helvetica, sans-serif
}

#page {
  width: 1000px;
  margin: 30px auto;
  box-shadow: 0px 10px 10px lighten(black, 50%);
}

.header {
  height: 100px;
  background-color: #FFB03F;
}

.center {
  height: 500px;
}

.footer {
  height: 100px;
  background-color: #4C1628;
}

#sign_out_link {
  float: right;
  margin-right: 10%;
  text-align: center;
  margin-top: -40px;
}

#title {
  text-align: center;
  font-size: 50px;
  a {
    text-decoration: none;
  }
}

form {
  label {
    width: 90px;
    display: inline-block;
    margin-right: 1em;
  }

  input[type="text"], input[type="email"], input[type="password"]{
    width: 180px;
    height: 30px;
    font-size: 25px;
    border-radius: 0.3em;
    margin: 5px;
  }

}
.landing_forms{
  width: 100%;
  margin: 100px auto;
  @include clearfix;

  #sign_in_form {
    float: left;
    width: 340px;
    margin-right: 3em;
  }

  #sign_up_form {
    float: left;
    width: 340px;
  }

}
