* {
  margin: 0;
}

body {
  font-family: Helvetica, sans-serif
}

#page {
  width: 1000px;
  margin: 30px auto;
  box-shadow: 0px 10px 10px lighten(black, 50%);
}

.header {
  height: 100px;
  background-color: #FFB03F;
  nav {
    a {
      display: block;
      float: left;
      width: 12em;
      padding: 0.5em 1em;
      text-align: center;
      text-decoration: none;

      &:hover {
        background-color: white;
      }
    }
  }
}

.center {
  height: 500px;
  padding: 1em;
}

.footer {
  height: 100px;
  background-color: #4C1628;
}

#sign_out_link {
  float: right;
  margin-right: 10%;
  text-align: center;
  margin-top: -40px;
}

#logo {
  text-align: center;
  font-size: 50px;
  a {
    text-decoration: none;
  }
}


form {
  .input {
    @include clearfix;
    margin-top: 5px;
  }

  label {
    float: left;
    width: 90px;
    display: inline-block;
    margin-right: 1em;
  }

  input, textarea {
    float: left;
    border-radius: 0.3em;
    font-size: 1.5em;

    &[type="text"] {
      width: 17em;
      height: 1em;
    }

    &[type="email"], &[type="password"] {
      width: 10em;
        height: 1em;
    }   
  }
}

.landing_forms{
  width: 100%;
  margin: 100px auto;
  @include clearfix;

  #sign_in_form {
    float: left;
    width: 340px;
    margin-right: 3em;
  }

  #sign_up_form {
    float: left;
    width: 340px;
  }

}
